[Unit]
Description=Atlas DNS Server
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/atlas
ExecStart=/usr/local/bin/atlas
Restart=on-failure

[Install]
WantedBy=multi-user.target
